@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Nunito+Sans&display=swap');

html {
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  color: black;
	font-family: 'Nunito Sans', sans-serif;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: black;
  font-family: 'Lexend Mega', sans-serif;
  text-align: center;
}