@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Nunito+Sans&display=swap');

html {
  background-color: black;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  color: tan;
	font-family: 'Nunito Sans', sans-serif;
}

h1 {
  color: tan;
  font-family: 'Lexend Mega', sans-serif;
  text-align: center;
}