.wrapper {
  margin: 2rem 2rem 1rem 2rem;
}

.btn {
  color: black;
  font-family: 'Lexend Mega', sans-serif;  
  background-color: white;
  border: 2px solid black;
  box-shadow: -6px 6px 0 black;

  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  margin: 0 2rem 1rem 0;
  padding: .5rem 1.35rem;

  transition: all .15s linear 0s;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  cursor: pointer;
  top: 6px;
  left: -6px;
  box-shadow: 0 0 0 black;
}

.btnActive {
  cursor: pointer;
  outline: none;
  color: white;
  font-family: 'Lexend Mega', sans-serif;  
  background-color: black;
  border: none;

  position: relative;
  display: inline-block;
  top: 6px;
  left: -6px;
  margin: 0 2rem 1rem 0;
  padding: .5rem 1rem;

  transition: all .15s linear 0s;
}

.btnActive::before {
  content: "╳ "
}

.btn:active {
  color: white;
  background-color: black;
}