.container {
  display: flex;
  flex-wrap: wrap;
}

.photo {
  margin: 1rem;
  flex: 25%;
}

h3.error {
  text-align: center;
  color: tomato;
}

img {
  max-width: 100%;
}

@media (max-width: 900px) {
  .photo {
    flex: 30%;
  }
}

@media (max-width: 500px) {
  .photo {
    flex: 100%;
  }
}
